flows_TTN_LoRaMote.json
[{"id":"bcc5b69a.9333b8","type":"tab","label":"LoRaMote-TTN"},{"id":"d3f8d875.365fc8","type":"ttn message","z":"bcc5b69a.9333b8","name":"ttn LoRaMote","app":"4fc8a888.4d917","devId":"","field":"","x":110,"y":240,"wires":[["d6821391.1f01e","7643940a.43cb3c","fd909011.70b48","15097672.ddb78a","2422ad5e.9db37a","63feef33.f4a068","c46cbce2.16eec"]]},{"id":"d6821391.1f01e","type":"debug","z":"bcc5b69a.9333b8","name":"","active":false,"console":"false","complete":"false","x":350,"y":20,"wires":[]},{"id":"7643940a.43cb3c","type":"function","z":"bcc5b69a.9333b8","name":"battery","func":"msg.payload = Math.round(msg.payload.battery);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["6943016d.7e1d88"]]},{"id":"6943016d.7e1d88","type":"ui_gauge","z":"bcc5b69a.9333b8","name":"battery-gauge","group":"d5744153.7ec26","order":2,"width":"6","height":"6","gtype":"gage","title":"Batterie","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":540,"y":120,"wires":[]},{"id":"fd909011.70b48","type":"function","z":"bcc5b69a.9333b8","name":"temperature","func":"msg.payload = Math.round(msg.payload.temperature);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["b6e4b37.785c75","24c08094.1602e"]]},{"id":"b6e4b37.785c75","type":"ui_gauge","z":"bcc5b69a.9333b8","name":"temperature-gauge","group":"d5744153.7ec26","order":1,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"x":550,"y":160,"wires":[]},{"id":"15097672.ddb78a","type":"function","z":"bcc5b69a.9333b8","name":"LED","func":"msg.payload = msg.payload.led;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["62a258b5.7ee63"]]},{"id":"62a258b5.7ee63","type":"ui_gauge","z":"bcc5b69a.9333b8","name":"led-gauge","group":"d5744153.7ec26","order":3,"width":"6","height":"6","gtype":"gage","title":"LED","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"x":530,"y":240,"wires":[]},{"id":"24c08094.1602e","type":"ui_chart","z":"bcc5b69a.9333b8","name":"temperature-chart","group":"d5744153.7ec26","order":5,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":550,"y":200,"wires":[[],[]]},{"id":"1d1556d9.ecc759","type":"worldmap","z":"bcc5b69a.9333b8","name":"","lat":"","lon":"","zoom":"15","layer":"OSM","cluster":"","maxage":"","usermenu":"show","panit":"true","x":530,"y":320,"wires":[]},{"id":"2422ad5e.9db37a","type":"function","z":"bcc5b69a.9333b8","name":"Altitude","func":"msg.payload = Math.round(msg.payload.gps_altitude);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["361d1b98.3cd81c"]]},{"id":"361d1b98.3cd81c","type":"ui_chart","z":"bcc5b69a.9333b8","name":"altitude-gauge","group":"d5744153.7ec26","order":6,"width":0,"height":0,"label":"Altitude","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":540,"y":280,"wires":[[],[]]},{"id":"63feef33.f4a068","type":"function","z":"bcc5b69a.9333b8","name":"GPS","func":"var gps_msg = { payload: {}};\n\ngps_msg.payload.name = \"LoRaMote\"\ngps_msg.payload.lat = msg.payload.gps_latitude;\ngps_msg.payload.lon = msg.payload.gps_longitude;\n\nreturn gps_msg;","outputs":1,"noerr":0,"x":330,"y":320,"wires":[["1d1556d9.ecc759"]]},{"id":"15968164.85ffaf","type":"inject","z":"bcc5b69a.9333b8","name":"","topic":"","payload":"/worldmap","payloadType":"str","repeat":"","crontab":"","once":true,"x":150,"y":400,"wires":[["93e6de75.b906d"]]},{"id":"7c31a03f.163a8","type":"ui_template","z":"bcc5b69a.9333b8","group":"d5744153.7ec26","name":"","order":7,"width":"18","height":"10","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":520,"y":400,"wires":[[]]},{"id":"93e6de75.b906d","type":"template","z":"bcc5b69a.9333b8","name":"iframe","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} width=900px height=500px ></iframe>","x":330,"y":400,"wires":[["7c31a03f.163a8"]]},{"id":"b652be21.aea4e","type":"comment","z":"bcc5b69a.9333b8","name":"dependencies","info":"npm install node-red-dashboard\nnpm install node-red-contrib-ttn\nnpm install node-red-contrib-web-worldmap","x":110,"y":40,"wires":[]},{"id":"8b75ff94.604688","type":"ui_switch","z":"bcc5b69a.9333b8","name":"LED-switch","label":"LED","group":"d5744153.7ec26","order":4,"width":"2","height":"1","passthru":true,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":440,"wires":[["f2f0d09b.5513d8"]]},{"id":"f2f0d09b.5513d8","type":"function","z":"bcc5b69a.9333b8","name":"","func":"ttn_msg = { payload: {} };\n\nif (msg.payload === true)\n{\n    ttn_msg.payload.led = 1;\n}\nelse\n{\n    ttn_msg.payload.led = 0;\n}\nreturn ttn_msg;","outputs":1,"noerr":0,"x":330,"y":440,"wires":[["1ff213f3.aebdec","996c2613.72473"]]},{"id":"1ff213f3.aebdec","type":"ttn send","z":"bcc5b69a.9333b8","name":"","app":"4fc8a888.4d917","devId":"loramote-froges","port":"1","x":520,"y":440,"wires":[]},{"id":"996c2613.72473","type":"debug","z":"bcc5b69a.9333b8","name":"","active":true,"console":"false","complete":"false","x":530,"y":500,"wires":[]},{"id":"eb35f8ea.2ea75","type":"rpi-sensehat out","z":"bcc5b69a.9333b8","name":"","x":530,"y":60,"wires":[]},{"id":"c46cbce2.16eec","type":"function","z":"bcc5b69a.9333b8","name":"Display","func":"msg.payload = \"R180\\n\" + Math.round(msg.payload.temperature) + \".c\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":60,"wires":[["eb35f8ea.2ea75"]]},{"id":"4fc8a888.4d917","type":"ttn app","z":"","appId":"","accessKey":"","region":"eu"},{"id":"d5744153.7ec26","type":"ui_group","z":"","name":"LoRaMote-dash","tab":"98ffb282.cf9f38","order":1,"disp":true,"width":"18"},{"id":"98ffb282.cf9f38","type":"ui_tab","z":"","name":"LoRaMote","icon":"dashboard","order":2}]
